<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DiagAI👩‍⚕️</title>
    <link rel="stylesheet" href="../../static/css/index.css">
</head>
<body>
    <div class="top">
        <h1 class="logo">DiagAI👩‍⚕️</h1>
    </div>
    <div class="home_body">
    <h2 class="home_title">Let’s support you in finding your diagnosis faster</h2> 
    <p class="app_guide">✳️ Add your patient name/info</p>
    <p class="app_guide">⌨️ Type in the symptoms you noticed</p>
    <p class="app_guide">🦾 Possible Illness/Diseases are generated for you</p>
    <button class="nav_btn"><a href="http://">Let’s get started</a></button>
</div>
</body>
</html>
